@import '/src/styles/variables.scss';

.navigation {
    display: inline-block;
    position: absolute;
    top: 0;
    left: calc(50% - 180px);
    a {
        @include font($color: $light, $align: center);
        display: inline-block;
        width: 120px;
        padding: 10px;
        background-color: $dark;
        &:first-child {
            border-radius: 0 0 0 5px;
        }
        &:last-child {
            border-radius: 0 0 5px 0;
        }
    }
}
