@import '/src/styles/variables.scss';

.navigation {
    display: block;
    width: 100%;
    a {
        @include font($color: $light, $align: center);
        display: block;
        width: 100%;
        padding: 10px;
        background-color: $dark;
        &:first-child {
            border-radius: 0 0 0 5px;
        }
        &:last-child {
            border-radius: 0 0 5px 0;
        }
    }
}
