@import '/src/styles/variables.scss';

.sidebar_btn {
    position: absolute;
    bottom: -20px;
    left: calc(50% - 25px);
    z-index: 4;
    width: 50px;
    height: 50px;
    padding: 8px;
    border: 3px solid $dark;
    border-radius: 50%;
    background-color: $dark;
    cursor: pointer;
    rect {
        fill: $light;
        transition: all 300ms ease;
    }
    &:hover,
    &.open {
        rect {
            fill: hsl(0, 40%, 50%);
        }
    }
}
